.mainhero{
    width: 100%;
    background: linear-gradient(
      81deg,
      #e7f0ff 9.01%,
      rgba(232, 241, 255, 0.47) 89.11%
    );
}
.Herotext{
width:45%;
button{
    background-color: rgba(42, 168, 255, 1);
  padding: 12px 36px 12px 36px;
  border-radius: 8px;
  margin: 30px 0px;
  height:48px;
  width: 177px;

  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
h3{
    font-size: 31px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(16, 40, 81, 1);
  span{
    color:  rgba(42, 167, 255, 1);
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-align: left;
  }
}
p{
    color: rgba(92, 97, 105, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}
}
.Herobox{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
  margin-bottom: 250px;
}
.suggestion-form{
    border: 1px solid rgba(240, 240, 240, 1);
    width: 1170px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 550px;
    margin: auto;


}
.inner-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
    select{
        border-radius: 5px;
        padding:10px;
    }
}
.suggestions{
    display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 35px 0px;
  gap: 20px;
  div{
    width: 200px;
  height: 150px;
  border-radius: 8px;
  background-color: rgba(250, 251, 254, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  img{
    width: 60px;
    height: 60px;
  }
   h6{
    color: rgba(171, 182, 199, 1);
    font-size: 18px;
  font-weight: 400;
   }
  }
}
.offer-area{
    width: 100%;
    
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 10px;
}
.offer{
    width: 398px;
    height: 199px;
    border-radius: 20px;
    margin: 40px 0px;
    object-fit: cover;
}